    {%extends "registration/base.html"%}
    {% load bootstrap5 %}
    {% load crispy_forms_tags%}
    {%load static%}
    {% block content %}
    <div class="container mt-3">
    <div class="row">
        <div class="col-md-3"></div>
        
        <div class="col-md-5 col-sm-8 mt-4">
            <div class="card pb-1">
                <div class="card-title mt-4">
                    <img src="{% static 'photos/logo1.png' %}" alt="" width="40%" class="logo">
                </div>
                <div class="card-body pb-1 mr-3 ml-3">
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm login">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>

    {% endblock %}